@font-face {
  font-family: 'IoskeleyMono';
  src: url('./fonts/IoskeleyMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IoskeleyMono';
  src: url('./fonts/IoskeleyMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IoskeleyMono';
  src: url('./fonts/IoskeleyMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IoskeleyMono';
  src: url('./fonts/IoskeleyMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IoskeleyMono';
  src: url('./fonts/IoskeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IoskeleyMono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070707;
}

html.eld-theme-light body {
  background-color: #eff3f8;
}

#root {
  width: 100%;
  min-height: 100vh;
}

